{% include 'header.html' %}
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>{{appType}} | Car Project</h1>
        <h3>
          Demo:
          <a href="{% url 'web:createcar' %}">Create</a>
          /
          <a href="{% url 'web:readcar' %}">Read</a>
          /
          <a href="{% url 'web:updatecar' %}">Update</a>
          /
          <a href="{% url 'web:deletecar' %}">Delete</a>
        </h3>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <h4>Update Car Data</h4>
        <form role="form" action="{% url 'web:updatecarsave' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="carName">
              Name (to identify which car to update)
            </label>
            <input
              type="text"
              class="form-control"
              id="carName"
              name="carName"
              required />
          </div>

          <div class="form-group">
            <label for="carBrand"> Brand </label>
            <input
              type="text"
              class="form-control"
              id="carBrand"
              name="carBrand" />
          </div>

          <div class="form-group">
            <label for="carModel"> Model </label>
            <input
              type="text"
              class="form-control"
              id="carModel"
              name="carModel" />
          </div>

          <div class="form-group">
            <label for="carPrice"> Price </label>
            <input
              type="text"
              class="form-control"
              id="carPrice"
              name="carPrice" />
          </div>

          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</body>
{% include 'footer.html' %}
